{% extends "questions/base.html" %}
{% load staticfiles %}

{% block head %}
  <script type="text/javascript" src="{% static 'questions/Cookies.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'questions/add_notes.js' %}"></script>
{% endblock %}

{% block content %}
<div style="display: flex;">
  <div id="not_added_notes" style="width: 400px; margin-left: 50px;">
    <h3 style="padding-bottom: 20px;">Добавить Заметки:</h3>
    {% for note in notes %}
      <p class="note btn btn-primary" id="note-{{ forloop.counter }}" style="margin-bottom: 20px; padding: 15px; display: block; cursor: pointer; font-size: 20px;">{{ note.name }}</p>
    {% endfor %}
  </div>

  <div id="added_notes" style="margin-left: 250px;">
    <h3 style="padding-bottom: 20px;">Добавленные заметки: </h3>
    {% for note in added_notes %}
      <p class="del-note"  style="text-align: center; border-radius: 10px; border: 2px solid black; margin-bottom: 10px; padding: 15px; font-size: 20px;">{{ note.name }}</p>
    {% endfor %}
  </div>

  <form action="" method="POST" id="form_add_note">
    {% csrf_token %}
        <!-- <input name="note" disabled style="width:350px; margin-right: -250px; margin-bottom: 20px; resize: none; font-size: 22px;"><br> -->
        <input type="submit" value="Добавить" hidden style="font-size: 20px;">
  </form>
</div>

<script>

</script>
{% endblock %}
