{% extends "questions/base.html" %}
{% load custom_filters %}

{% block content %}
    {% for test in tests %}
      <div class="card w-75">
        <div class="card-body">
          <h4 class="card-title">{{ test.title }}</h4>
          <div class="text-center">
            {% if test.blocked %}
              <a href="" class="btn_test btn btn-dark" style="pointer-events: none; cursor: default; text-decoration: none; color: black; font-size: 18px;">НЕ АКТИВЕН</a>
            {% else %}
              <a href="{% url 'test_detail' test.id %}" class="btn_test btn btn-primary">К тесту</a>
              <p class="text-muted" style="padding-top: 10px; margin-bottom: -10px;">Станет недоступен через: {{ test.deactivate_on|stringformat:".18s" }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% if request.user.is_authenticated and request.user|has_group:"authors" and tests.count == 0 %}
    <div class="card w-75" style="margin-top: 200px;">
      <div class="text-center">
        <h2 class="text-muted">Вы еще не создали ни одного теста</h2>
      </div>
    </div>
  {% endif %}

  {% if request.user.is_authenticated and request.user|has_group:"users" and tests.count == 0 %}
    <div class="card w-75" style="margin-top: 200px;">
      <div class="text-center">
        <h2 class="text-muted">К сожалению ни одного теста не найдено :( </h2>
      </div>
    </div>
  {% endif %}
{% endblock %}
