{% extends "questions/base.html" %}
{% load i18n %}

{% block content %}
  <div class="card w-75">
    <div class="card-body question">
      <form action="" method="POST">
        {% csrf_token %}
        {% if errors %}
          <div class="alert alert-danger">{{ errors }}</div>
        {% endif %}
        <h4 class="card-title">{% trans "Создать вопрос" %}</h4>
          <div class="text-center">
          {{ form.question }}<br>
            <input type="submit" name="final" class="btn_test btn btn-primary" value="{% trans 'Создать' %}">
          </div>
      </form>
    </div>
  </div>
{% endblock %}
