{% extends "questions/base.html" %}


{% block content %}
  <div class="card w-75">
    <div class="card-body question">
        {% csrf_token %}
        <h4 class="card-title">Детали теста</h4>
          <ul style="margin: 20px 0 10px 40px;">
          {% for testrun in testruns %}
            <li style="display: inline-block; font-size: 16px; margin-bottom: 10px;">
              {{forloop.counter }}. {{ testrun.question }}  | <span style="color: #a33;"> {{ testrun.answer }} </span>
            </li>
            <br>
          {% endfor %}
          <div class="text-center">
            <br>
            <a  href = "{% url 'testruns' %}" class="btn btn-primary my-2 my-sm-0"> К пройденным тестам </a>
          </div>
        </ul>
    </div>
  </div>
{% endblock %}
