{% extends "questions/base.html" %}

{% block content %}
  <div class="card w-75">
    <div class="card-body question">
      <form action="" method="POST">
        {% csrf_token %}
        {% if errors %}
          <div class="alert alert-danger">{{ errors }}</div>
        {% endif %}
        <h4 class="card-title">Создать тест</h4>
          <div class="text-center">
            {{ form.as_p }}<br>
            <input type="submit" name="final" class="btn_test btn btn-primary" value="Создать">
          </div>
      </form>
    </div>
  </div>
{% endblock %}
