{% extends "questions/base.html" %}


{% block content %}
  <div class="card w-75">
    <div class="card-body question">
        {% csrf_token %}
        <h4 class="card-title">Пройденные тесты</h4>
          <div class="text-center">
          {% for testrun in testruns %}
            <a href = "{% url 'testrun_detail' name=testrun.name %}" style="color: #a33; display: inline-block; font-size: 16px; margin-bottom: 10px;">
              {{ testrun }}
            </a>
            <br>
          {% endfor %}
          </div>
    </div>
  </div>
{% endblock %}
